.employee-management-container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--brand);
    padding: 20px;
    border-radius: 15px;
    min-height: 95vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    .logo{
      margin-bottom: 30px;
    }
    ul{
      li{
        width: 100%;
        margin-bottom: 15px;
        a{
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;
          width: 100% !important;
          background-color: var(--secondary);
          color: antiquewhite;
          /* outline : 1px solid antiquewhite; */
          padding: 8px 10px;
          display: block;
          border-radius: 5px;
        }
        a:hover,.activebutton {
          background-color: var(--brand-dark);
          box-sizing: border-box;
          /* time to apply hover effect */
          transition: 0.8s;
        }
      
      }
      
    }
  }

  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    width: fit-content;
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  
  .main-content {
    flex: 1;
    width: 100%;
    padding: 0 20px;
    .header{
      margin-bottom: 20px;
      .login_info {
        .login_info__user{
          display: flex;
          justify-content: end;
          font-size: medium;
          }
      }
    }
    .container{
      display: flex;
      .main{
        flex:1;
        padding: 0 20px;
      }
    }
  }
 

