<div class="employee-management-container">
    <div class="sidebar">
      <ul>
        <li><a routerLink="employees"  routerLinkActive="activebutton"   ariaCurrentWhenActive="page">Employees</a></li>
        <li><a routerLink="jobs"  routerLinkActive="activebutton"   ariaCurrentWhenActive="page">Jobs</a></li>
        <li><a routerLink="internships"  routerLinkActive="activebutton"   ariaCurrentWhenActive="page">Internships</a></li>
        <li><a routerLink="departments"  routerLinkActive="activebutton"   ariaCurrentWhenActive="page">Departments</a></li>
        <li><a routerLink="benchmarks"  routerLinkActive="activebutton"   ariaCurrentWhenActive="page">Benchmarks</a></li>
      </ul>
    </div>
  
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
  
  </div>
  