.employee-management-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: var(--brand);
    padding: 20px;
    border-radius: 15px;
    min-height: 89vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    ul{
      li{
        background-color: antiquewhite;
        width: 100%;
        text-align: center;
        padding: 6px;
        color: var(--brand);
        border-radius: 5px;
        a{
          font-weight: bold;
          cursor: pointer;
        }
      
      }
      li:hover,li:first-child{
        background-color: var(--brand);
        color: antiquewhite;
        border : 1px solid antiquewhite;
      }
    }
  }

  table {
    width: 100%;
  }

  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    width: fit-content;
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .statistics-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    > * {
      flex: 1;
      margin-right: 15px;
      background-color: var(--secondary);
      color: var(--white);
      p{
        color: lightblue;
      }
    }
  }
  
  .charts {
    margin-bottom: 20px;
  }
  
  .employee-list {
    /* Add styling for the employee list if needed */
  }
  