.employee-management-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: var(--brand);
    padding: 20px;
    border-radius: 15px;
    min-height: 89vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    ul{
      li{
        width: 100%;
        a{
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;
          width: 100% !important;
          background-color: var(--brand);
          color: antiquewhite;
          outline : 1px solid antiquewhite;
          padding: 6px;
          display: block;
          border-radius: 5px;
        }
        a:hover,.activebutton {
          background-color: antiquewhite;
          box-sizing: border-box;
          color: var(--brand);
          /* time to apply hover effect */
          transition: 0.8s;
        }
      
      }
      
    }
  }

 

  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    width: fit-content;
    font-size: small;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
 