/* You can add global styles to this file, and also import other style files */


html, body { height: 100%;}
*{
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
p{width: fit-content; font-size: small;}


:root{
    --brand: #994bff;
    --black: #000000;
    --white: #FFFFFF;
    --border: #9747FF;
    --secondary:#ae81e9;
    --brand-dark: #7a14ff;
    --krimi: #ff8d70;
}
