<div class="main_container">
  <div class="main">
    <div class="statistics-cards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Employees</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>23+ increase</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-card-header>
            <mat-card-title>Departments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>23+ increase</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Active Onboarding</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>23+ increase</p>
          </mat-card-content>
        </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Engagement</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>23+ increase</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- Charts (Placeholder - Add charts as needed) -->
    <div class="charts">
      <app-employee-stats></app-employee-stats>
    </div>
  
    <div class="action_list">
      <button mat-button (click)="openDialog()">Launch dialog</button>
    </div>
  
    <!-- Employee List (Default Content) -->
    <div class="employee-list">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Employee List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="">
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>              
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>
  <div class="right-sidebar">
    <h5>Notifications (+3)</h5>
    <div class="notification">
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
    </div>
    <div class="quick_links">
      <h5>Quick Links</h5>
    <ul>
      <li><a href="#">New Onboarding</a></li>
      <li><a href="#">New Job</a></li>
      <li><a href="#">New Internship</a></li>
      <li><a href="#">New Department</a></li>
      <li><a href="#">New Benchmark</a></li>
    </ul>
    </div>
  </div>
</div>