<div class="main_container">
  <div class="main">
    <div class="statistics-cards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Employees</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{dataSource.data.length}}+ increase</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
          <mat-card-header>
            <mat-card-title>Departments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>+0 increase</p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Active Onboarding</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{onboardingPlans.data.length}}+ increase</p>
          </mat-card-content>
        </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Engagement</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{dataSource.data.length}}+ increase</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="charts">
      <app-employee-stats></app-employee-stats>
    </div>
    <div class="action_list">
      <button mat-button class="view_calendar">View In Calendar</button>
      <button mat-button (click)="openDialog()">New Onboarding Plan</button>
    </div>

    <div class="OnboardingPlanList">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Planned Onboarding</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="">
              <table mat-table [dataSource]="onboardingPlans">
            
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.plannedAt}} </td>
                </ng-container>
            
                <ng-container matColumnDef="invitees">
                  <th mat-header-cell *matHeaderCellDef> Invitees </th>
                  <td mat-cell *matCellDef="let element"> {{element.candidates.length}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnOnboarding"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnOnboarding;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>              
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="employee-list">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Employee List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="">
              <table mat-table [dataSource]="dataSource">
            
                <ng-container matColumnDef="ECode">
                  <th mat-header-cell *matHeaderCellDef> ECode. </th>
                  <td mat-cell *matCellDef="let element"> {{element.ECode}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Role">
                  <th mat-header-cell *matHeaderCellDef> Role </th>
                  <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>              
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>
  <div class="right-sidebar">
    <h5>Notifications (+3)</h5>
    <div class="notification">
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
      <div class="not">
        <div class="icon">
          <img src="/assets/icon-notification.png" height="20" alt="" srcset="">
        </div>
        <div>
          <p>Employee 1 has been added</p>
        </div>
      </div>
    </div>
    <div class="quick_links">
      <h5>Quick Links</h5>
    <ul>
      <li><a href="#">New Job Offer</a></li>
      <li><a href="#">New Surveys</a></li>
      <li><a href="#">Benchmarks</a></li>
    </ul>
    </div>
  </div>
</div>