.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 5%;
  }
  
  .large-section {
    flex: 1;
    max-width: 50%;
    padding: 5px;
    box-sizing: border-box;
    >*{
        padding: 5px;
        margin-bottom: 5%;
    }
  }

  .split-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: var(--secondary);
  }
  .mat-card-title{color: var(--white);  }
  .left-section {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .right-section {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

  .mat-icon {
    margin-right: 10px;
    font-size: xx-large;
    height: 100%;
    width: 100%;
    color: var(--white);
  }

  